

/****************inside-banner ****************/

 .push-md-2 {
    left: 16.666667%;
  }
  .push-md-10 {
    left: 83.333333%;
  }
  .pull-md-2 {
    right: 16.666667%;
  }
  .pull-md-10 {
    right: 83.333333%;
  }
.inside-banner-image{
	background-image: url('../../assets/img/hedre.jpg');
	height: 240px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.inside-content{
	position: absolute;
	top:0;
	right: 20px;
}
.social-icons{
	position: absolute;
	bottom: -12px;
	right: 20px;
}
.social-icons ul{
	list-style: none;
    display: inline-flex;
}
.social-icons ul li{
	margin-right: 6px;
}
.social-icons ul li a{

}
.social-icons ul li a i{
	transition: 0.5s;
    color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
    border-radius: 50px;
}
.social-icons ul li a i:hover{
	background-color:#0c94ac;
	transition: 0.5s
}
.fa-facebook-f{
	background:#3b5998;
}
.fa-twitter{
	background:#00acee;

}
.fa-linkedin{
	background: #0e76a8;

}
.fa-xing-square{
	background:#126567;

}
.exp-con{

}
.proven-con{

}
.proven-con img{
    margin: 0 auto;
}
.exp-con-left{
	position: relative;
    top: -80px;
    margin-left: 15px;
    text-align: center;
}
.starr ul{
    list-style: none;
    display: inline-flex;
}
.flrt-r{
	float: right !important;
}
.starrs ul{
	display: inline-flex;
	list-style: none;
}
.social-icons-proven ul{
	    list-style: none;
    display: inline-flex;
}
.centr-sub-1-main span{
	display: block;
}
.expert-main{
	background-color: white;
}

/**************** inside-banner END ****************/



/**************** competencies ****************/

.competencies-main{
    padding: 15px;
    text-align: center;
    border-left: 10px solid white;
    border-right: 10px solid white;
    position: relative;
}
.competencies-main a{
    position: absolute;
    display: inline-block;
    right: 50px;
    top: 16px;
}
.starres ul{
    display: inline-flex;
    list-style: none;
}
.measure-main{
    background: white;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.reviews-main{
	padding: 30px 20px;
}
.starress ul{
	display: inline-flex;
    list-style: none;
}
.inputcol select{
	width: 100%;
}
.starrsd ul{
	display: inline-flex;
	list-style: none;
}
/**************** competencies END ****************/

