#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* position: relative; */
    background-color: #fff;
    margin: 10%;
    padding: 30px;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }


  @media(max-width: 1000px){
    .card{
      width: 60%;
    }
  }

  
  @media(max-width: 800px){
    .card{
      width: 70%;
    }
  }


  @media(max-width: 700px){
    .card{
      width: 75%;
    }
   
  }

  @media(max-width: 500px){
    .card{
      width: 80%;
    }
  }


.login-form {
  /* max-width: 500px; */
  width: auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  background-color: #37A000 !important;
  color: white !important;
  font-weight: bold;
  font-size: 14; 
  height: 40;
}


  

  
  

  