.bg-primary{
  background:#0c94ac !important;
}


/**************** BANNER START ****************/


#banner-3{
  background-image: url('../../assets/img/plan.jpg');
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  margin-bottom: 60px;
  top: 70px;
}
#banner-3::before{
  content: '';
  height: 100%;
  position: absolute;
  background: url('../../assets/img/bg-doted.png') rgba(0, 0, 0, 0.5);
  width: 100%;

}
#banner-3 .va-middle {
  vertical-align: middle;
  height: 70vh;
}
#banner-3 .banner-content{
  position: relative;
  text-align: center;
}
#banner-3 .banner-content h2{
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 10px;
}
#banner-3 .banner-content p{
  font-size: 22px;
}




@media only screen and (max-width:1024px){
  #banner-3 .banner-content h2 {
    font-size: 50px;
  }
  #banner-3 .banner-content p {
    font-size: 20px;
  }
}

@media only screen and (max-width:991px){
  #banner-3{
    top: 0;
  }
  #banner-3 .va-middle {
    height: 70vh;
}
}
@media only screen and (max-width:768px){
#banner-3 .banner-content h2 {
  font-size: 40px;
  }
  #banner-3 .banner-content p {
    font-size: 18px;
    }
}
@media only screen and (max-width:640px){
#banner-3 .va-middle {
  height: 50vh;
}
}
@media only screen and (max-width:575px){

  #banner-3 .banner-content h2 {
    font-size: 30px;
    }
    #banner-3 .banner-content p {
      font-size: 16px;
      }
  }

  @media only screen and (max-width:460px){
    #banner-3 {
      background-size: 100% 55%;
      background-repeat: no-repeat;
    }
    #banner-3 .banner-content h2 {
      font-size: 25px;
      }
      #banner-3 .banner-content p {
        font-size: 14px;
        }
  }
/**************** BANNER END ****************/


/************* PRICING START ***************/
.price-heading{
  text-align: center;
}
.price-heading h1{
  margin: 0px 0 50px;
}
.price-description {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #0c94ac;
  cursor: pointer;
  background: #0c94ac;
  padding: 0px 3px;
}
.price-detail{
  text-align: center;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.price-detail::after{
  content: "";
  position: absolute;
  bottom: -17px;
  z-index: 1;
  transform: translate3d(-50%,-13px,0) rotate(-1.1deg);
  width: 101%;
  height: 14px;
  background: #0c94ac;
  left: 50%;
  border: 1px solid #0c94ac;
}
/* .price-detail::after{
  content: '';
  position: absolute;
  height: 46px;
  width: 52%;
  bottom: -24px;
  background: #0c94ac;
  right: 3px;
  transform: rotate(-16deg);
} */
.price-detail i{
  font-size: 25px;
}
.price-detail h4{
  margin: 0;
}
.price-detail h5{
  margin: 10px 0;
  border-bottom:1px solid #fff;
}
.price-detail p{
  margin: 0;
}
.price-btn{
  text-align: center;
    padding: 10px 0 20px;
    background: #fff;
}
.price-btn button{
  padding: 10px 15px;
  background: #000;
  color: white;
  width: 50%;
  border: 2px solid #000;
  margin-top: 17px;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 0px #ffffff38;
}

.price-btn button:hover{
background-color: white;
color: #000;
font-weight: 400;
transition: 0.5s;
}
.price-list {
  text-align: center;
  background: #fff;
  border-radius: 0px 0px 10px 10px;
}
.price-list ul{
  padding: 0;
  margin: 0;
}
.price-list ul li{
  font-size: 22px;
  color: grey;
  list-style-type: none;
  border-top: 1px solid #c6c8ca;
}
.price-list ul li i.fa.fa-check {
  font-size: 25px;
  color: #0c94ac;
}
.mb-o{
  margin-bottom: 0 !important;
}
@media only screen and (max-width:1100px){
  .price-detail p {
    font-size: 13px;
}
}

@media only screen and (max-width:1024px){
.price-detail p{
  font-size: 14px;
}
.price-detail {
  padding: 20px 15px;
}
  .price-heading h1 {
    font-size: 30px;
  }
 
}
@media only screen and (max-width:991px){
  .price-description {
    margin-bottom: 55px;
}
.mb-o {
  margin-bottom: 55px !important;
}
/* .price-detail::before {
  width: 100%;
  left: 0px;
} */
  }

  @media only screen and (max-width:640px){
    .price-heading h1 {
      margin: 0px 0 20px;
  }
  }
  @media only screen and (max-width:460px){
    .price-heading h1 {
      font-size: 25px;
  }
}
/************* PRICING END ***************/

