.flexer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.test-border { 
  border: solid 1px red !important
}


.edit1{
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  margin-right: 10px;
}