

nav[role=navigation] {
    background: #2a3542;
    color: #ddd;
    /* icons */
  }
  nav[role=navigation] li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  nav[role=navigation] li a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: .7em;
  }
  nav[role=navigation] li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  nav[role=navigation] li a:before {
    content: "\f248";
    font-family: FontAwesome;
    padding-right: .6em;
  }
  nav[role=navigation] .dashboard a:before {
    content: "";
  }
  nav[role=navigation] .write a:before {
    content: "";
  }
  nav[role=navigation] .edit a:before {
    content: "";
  }
  nav[role=navigation] .comments a:before {
    content: "";
  }
  nav[role=navigation] .users a:before {
    content: "";
  }
  